body {
    font-family: sans-serif;
}

.food-body {
    width: 80%;
    margin: auto;
}

ul li {
    list-style-type: none;
}

button {
    outline: none; /*点击边框消失*/
}

.avatar img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    vertical-align: middle;
}
