.user-info {
    margin-top: 30px;
    max-width: 100%;
}

.user-name {
    margin: 0 0 16px;
    line-height: 1.2;
    font-weight: 700;
}

.mr10 {
    margin-right: 10px !important;
}

.font12 {
    font-size: 12px;
    color: #909090;
}

.mt10 {
    margin-top: 10px !important;
}

.user-info-right {
    height: 160px;
}

.user-info-right div {
    margin-bottom: 25px;
}

.bold {
    font-weight: 700;
}

.font16 {
    font-size: 16px;
}

button {
    border: 0;
    background-color: transparent;
}

